/* スタイルの設定 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

form {
    margin-top: 20px;
    text-align: center;
}

#message {
    color: red;
    font-weight: bold;
}

a {
    text-decoration: none; /* 下線を取り除く */
    color: #49a56f; /* テキストカラー */
    font-weight: bold; /* 太字にする */
}    

/* ホバー時のスタイル */
a:hover {
    color: #306d4a; /* テキストカラーを変える */
    text-shadow: 0 0 5px rgba(48, 109, 74, 0.2); /* 影をつける */
}


/* 入力欄のスタイル */
input[type="text"],
input[type="password"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

/* 入力欄にフォーカスした時のスタイル */
input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #333;
}

/* ログインボタンのスタイル */
input[type="submit"] {
    width: 150px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* ログインボタンにマウスが乗った時のスタイル */
input[type="submit"]:hover {
    background-color: #3c3c3c;
}


    
img {
    max-width: 100%;
  }
